a {
  text-decoration: none;
}

.header-rakuten {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-rakuten hr {
  width: 100%;
  background-color: #828282;
  margin: 1.2rem 0 1rem 0;
}

.rakuten-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 97%;
}
.rakuten-title .rakuten-title__logo {
  width: 21%;
}
.rakuten-title .rakuten-title__logo .rakuten-title__logo svg {
  width: 100%;
  min-height: auto;
}
.rakuten-title .rakuten-title__services {
  display: flex;
  justify-content: center;
  width: 3rem;
  height: auto;
}
.rakuten-title .rakuten-form {
  display: flex;
  flex-direction: row;
  height: 3rem;
  width: 100%;
}
.rakuten-title .rakuten-form__input {
  flex: 1;
  height: 92%;
  border: 1px solid #bfbfbf;
  border-radius: 0.2rem 0 0 0.2rem;
}
.rakuten-title .rakuten-form__btn {
  width: 3rem;
  background-color: #333;
  border-radius: 0 0.2rem 0.2rem 0;
}
.rakuten-title .rakuten-form__btn svg {
  width: 70%;
  fill: #ffffff;
}

.rakuten-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0.5rem 0 0 2rem;
}
.rakuten-nav a {
  color: #828282;
}
.rakuten-nav .rakuten-nav__item {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.rakuten-nav .rakuten-nav__item .rakuten-nav__item__content {
  display: flex;
  flex-direction: row;
}
.rakuten-nav .rakuten-nav__item .rakuten-nav__item__content__img {
  max-width: 1.5rem;
  margin-right: 0.2rem;
}
.rakuten-nav .rakuten-nav__item .rakuten-nav__item__content__img svg {
  width: 100%;
  min-height: auto;
}
.rakuten-nav .rakuten-nav__item #rakuten-club {
  max-width: 3.2rem;
  margin-right: 0.2rem;
}
.rakuten-nav .rakuten-nav__item #rakuten-club svg {
  width: 100%;
  min-height: auto;
}
.rakuten-nav .rakuten-nav__item .rakuten-nav__item__content__text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-rakuten {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-rakuten-block-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2rem;
}
.footer-rakuten-block-1 a {
  text-decoration: none;
  color: #828282;
}
.footer-rakuten-block-1 .rakuten-block-1__item {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-rakuten-block-1 .rakuten-block-1__item__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-rakuten-block-1 .rakuten-block-1__item__content__img {
  max-width: 3rem;
  margin-right: 0.2rem;
}
.footer-rakuten-block-1 .rakuten-block-1__item__content__img svg {
  width: 100%;
  min-height: auto;
}
.footer-rakuten-block-1 #rakuten-club-2 {
  max-width: 3.2rem;
  margin-right: 0.2rem;
}
.footer-rakuten-block-1 #rakuten-club-2 svg {
  width: 100%;
  min-height: auto;
}
.footer-rakuten-block-1 .rakuten-block-1__item__content__text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.footer-rakuten-block-1 .rakuten-block-1__item__content__text .rakuten-block-1__item__content__text-1 {
  font-size: 0.6rem;
}
.footer-rakuten-block-1 .rakuten-block-1__item__content__text .rakuten-block-1__item__content__text-2 {
  font-size: 0.9rem;
}

.footer-rakuten-block-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  background-color: #f7f7f7;
}
.footer-rakuten-block-2 a {
  color: black;
}
.footer-rakuten-block-2 li {
  list-style-type: none;
  margin-top: 0.7rem;
}
.footer-rakuten-block-2 li span {
  color: #828282;
}
.footer-rakuten-block-2 .footer-rakuten-block-2__item__list__head {
  text-transform: uppercase;
  font-weight: bold;
}

.footer-rakuten-block-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0 1rem 0;
}
.footer-rakuten-block-3 .footer-rakuten-block-3__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-right: 1px solid black;
  padding: 1rem 2rem;
}
.footer-rakuten-block-3 .rakuten-block-3__socials__item {
  width: 100%;
}
.footer-rakuten-block-3 .rakuten-block-3__socials__item__content__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 2.1rem;
}
.footer-rakuten-block-3 .rakuten-block-3__socials__item__content__img svg {
  width: 100%;
  min-height: auto;
}
.footer-rakuten-block-3 .footer-rakuten-block-3__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  padding: 1rem 2rem;
}
.footer-rakuten-block-3 .rakuten-block-3__cards__item__content__img {
  max-width: 3rem;
  margin-right: 0.2rem;
}
.footer-rakuten-block-3 .rakuten-block-3__cards__item__content__img svg {
  width: 100%;
  min-height: auto;
}

.footer-rakuten-block-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f7f7f7;
  padding: 2rem 0;
}
.footer-rakuten-block-4 .rakuten-block-4__text {
  display: flex;
  justify-content: center;
  width: 50%;
}
.footer-rakuten-block-4 .rakuten-block-4__cards {
  display: flex;
}
.footer-rakuten-block-4 .rakuten-block-4__cards__item {
  width: 100%;
  margin-right: 2rem;
}
.footer-rakuten-block-4 .rakuten-block-4__cards__item__content__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 8.1rem;
}
.footer-rakuten-block-4 .rakuten-block-4__cards__item__content__img svg {
  width: 100%;
  min-height: auto;
}

.footer-rakuten-block-5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem;
  font-size: 0.8rem;
}
.footer-rakuten-block-5 a {
  color: #777777;
}
.footer-rakuten-block-5 .rakuten-block-5__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-rakuten-block-5 .rakuten-block-5__item__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 6.1rem;
}
.footer-rakuten-block-5 .rakuten-block-5__item__img svg {
  width: 100%;
  min-height: auto;
}
.footer-rakuten-block-5 .rakuten-block-5__item__text__country {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #777777;
  border-radius: 0.2rem;
  padding: 0.3rem;
  width: 8rem;
}

.footer-rakuten-block-6 {
  font-size: 0.8rem;
  margin: 1rem;
}

.footer-rakuten-block-7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
  width: 100%;
  padding-bottom: 12rem;
}
.footer-rakuten-block-7 a {
  color: black;
  text-decoration: underline;
}
::-webkit-input-placeholder {
  color: grey;
  font-family: "Menlo", "Times New Roman", "Tahoma", sans-serif;
}

:-moz-placeholder {
  color: grey;
  font-family: "Menlo", "Times New Roman", "Tahoma", sans-serif;
}

::-moz-placeholder {
  color: grey;
  font-family: "Menlo", "Times New Roman", "Tahoma", sans-serif;
}

:-ms-input-placeholder {
  color: grey;
  font-family: "Menlo", "Times New Roman", "Tahoma", sans-serif;
}

.timer {
  text-align: center;
  font-size: 10rem;
}

.header-next {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-next__block-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 240, 239);
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 0.8rem;
}

.header-next__block-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  padding: 0.5rem 0 0.5rem 0;
  color: white;
}
.header-next__block-2 .header-next__block-2__item {
  width: 13%;
}
.header-next__block-2 .header-next__block-2__item__img {
  max-width: 6.1rem;
}
.header-next__block-2 .header-next__block-2__item__img svg {
  width: 86%;
  min-height: auto;
}
.header-next__block-2 .header-next__block-2-form {
  display: flex;
  flex-direction: row;
  height: 3rem;
  width: 22%;
  margin-left: -34rem;
}
.header-next__block-2 .header-next__block-2-form__input {
  flex: 1;
  height: 71%;
  border: none;
  border-radius: 0.2rem 0 0 0.2rem;
}
.header-next__block-2 .header-next__block-2-form__btn {
  width: 2.3rem;
  height: 2.25rem;
  background-color: white;
  border: none;
  border-radius: 0 0.2rem 0.2rem 0;
}
.header-next__block-2 .header-next__block-2-form__btn svg {
  width: 70%;
  fill: black;
}
.header-next__block-2 .header-next__block-2__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 26%;
}

.header-next__block-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: black;
  padding-bottom: 1rem;
}
.header-next__block-3 .header-next__block-3__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-next__block-3 .header-next__block-3__item__text {
  text-transform: uppercase;
  color: white;
}

.footer-next {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}

.footer-next-block-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  width: 100%;
}
.footer-next-block-1 .footer-next-block-1__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  width: 19%;
}

.footer-next-block-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem 0;
}
.footer-next-block-2 .footer-next-block-2__socials {
  max-width: 6.1rem;
}
.footer-next-block-2 .footer-next-block-2__socials svg {
  width: 100%;
  min-height: auto;
}
.footer-next-block-2 .footer-next-block-2__text {
  display: flex;
  flex-direction: column;
}

.footer-next-block-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  background-color: #f7f7f7;
}
.footer-next-block-3 a {
  color: black;
}
.footer-next-block-3 li {
  list-style-type: none;
  margin-top: 0.7rem;
}
.footer-next-block-3 li span {
  color: #828282;
}
.footer-next-block-3 .footer-rakuten-block-3__item__list__head {
  font-weight: bold;
}

.footer-next-block-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
.footer-next-block-4 a {
  color: darkgreen;
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
}
.main-header > * {
  display: none;
}

.main-footer > * {
  display: none;
}

.container {
  flex-grow: 1;
  margin-top: 10rem;
}

footer {
  flex-shrink: 0;
}

/*# sourceMappingURL=main.css.map */
