a {
  text-decoration: none;
}

.header-rakuten {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-rakuten hr {
  width: 100%;
  background-color: #828282;
  margin-top: 1.2rem;
}

.rakuten-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 97%;
}
.rakuten-title .rakuten-title__logo {
  width: 21%;
}
.rakuten-title .rakuten-title__logo .rakuten-title__logo svg {
  width: 100%;
  min-height: auto;
}
.rakuten-title .rakuten-title__services {
  display: flex;
  justify-content: center;
  width: 3rem;
  height: auto;
}
.rakuten-title .rakuten-form {
  display: flex;
  flex-direction: row;
  height: 3rem;
  width: 100%;
}
.rakuten-title .rakuten-form__input {
  flex: 1;
  height: 92%;
  border: 1px solid #bfbfbf;
  border-radius: 0.2rem 0 0 0.2rem;
}
.rakuten-title .rakuten-form__btn {
  width: 3rem;
  background-color: #333;
  border-radius: 0 0.2rem 0.2rem 0;
}
.rakuten-title .rakuten-form__btn svg {
  width: 70%;
  fill: #ffffff;
}

.rakuten-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0.5rem 0 0 2rem;
}
.rakuten-nav a {
  color: #828282;
}
.rakuten-nav .rakuten-nav__item {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.rakuten-nav .rakuten-nav__item .rakuten-nav__item__content {
  display: flex;
  flex-direction: row;
}
.rakuten-nav .rakuten-nav__item .rakuten-nav__item__content__img {
  max-width: 1.5rem;
  margin-right: 0.2rem;
}
.rakuten-nav .rakuten-nav__item .rakuten-nav__item__content__img svg {
  width: 100%;
  min-height: auto;
}
.rakuten-nav .rakuten-nav__item #rakuten-club {
  max-width: 3.2rem;
  margin-right: 0.2rem;
}
.rakuten-nav .rakuten-nav__item #rakuten-club svg {
  width: 100%;
  min-height: auto;
}
.rakuten-nav .rakuten-nav__item .rakuten-nav__item__content__text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-rakuten {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-rakuten-block-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;
}
.footer-rakuten-block-1 a {
  text-decoration: none;
  color: #828282;
}
.footer-rakuten-block-1 .rakuten-block-1__item {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-rakuten-block-1 .rakuten-block-1__item__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-rakuten-block-1 .rakuten-block-1__item__content__img {
  max-width: 3rem;
  margin-right: 0.2rem;
}
.footer-rakuten-block-1 .rakuten-block-1__item__content__img svg {
  width: 100%;
  min-height: auto;
}
.footer-rakuten-block-1 #rakuten-club-2 {
  max-width: 3.2rem;
  margin-right: 0.2rem;
}
.footer-rakuten-block-1 #rakuten-club-2 svg {
  width: 100%;
  min-height: auto;
}
.footer-rakuten-block-1 .rakuten-block-1__item__content__text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.footer-rakuten-block-1 .rakuten-block-1__item__content__text .rakuten-block-1__item__content__text-1 {
  font-size: 0.6rem;
}
.footer-rakuten-block-1 .rakuten-block-1__item__content__text .rakuten-block-1__item__content__text-2 {
  font-size: 0.9rem;
}

.footer-rakuten-block-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  background-color: #f7f7f7;
}
.footer-rakuten-block-2 a {
  color: black;
}
.footer-rakuten-block-2 li {
  list-style-type: none;
  margin-top: 0.7rem;
}
.footer-rakuten-block-2 li span {
  color: #828282;
}
.footer-rakuten-block-2 .footer-rakuten-block-2__item__list__head {
  text-transform: uppercase;
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: grey;
  font-family: "Menlo", "Times New Roman", "Tahoma", sans-serif;
}

:-moz-placeholder {
  color: grey;
  font-family: "Menlo", "Times New Roman", "Tahoma", sans-serif;
}

::-moz-placeholder {
  color: grey;
  font-family: "Menlo", "Times New Roman", "Tahoma", sans-serif;
}

:-ms-input-placeholder {
  color: grey;
  font-family: "Menlo", "Times New Roman", "Tahoma", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

/*# sourceMappingURL=main.css.map */
