@use "rakuten";
@use "next";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;

  & > * {
    display: none;
  }
}

.main-footer {
  & > * {
    display: none;
  }
}

.container {
  flex-grow: 1;
  margin-top: 10rem;
}

footer {
  flex-shrink: 0;
}
